<mat-card>
  <mat-card-header>
  </mat-card-header>

  <mat-card-content>
    <div class="mat-card-wide-image" fxLayout="row">
      <div fxFlex="100" fxLayoutAlign="center">
        <div><img fxHide.xs class="responsive-image margin-auto" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_360,h_170,f_auto/' +
              product.briefImage}}"
                  alt="Image">
          <img fxHide.gt-xs class="responsive-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_460,h_170,f_auto/' +
              product.briefImage}}"
               alt="Image">

        </div>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div fxFlex>
      <!--using with catalog, category_id for breadcrumb-->
      <a *ngIf="category_id" mat-button
         [routerLink]="['/products', 'ch', {outlets: {primary: [category_id, 'details', product._id],
         breadcrumb: [category_id, 'details', product._id]}}]"
         [queryParams]="{name: product.name}"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
        {{product.name}}
      </a>
      <!--using with dashboard-->
      <a *ngIf="!category_id" mat-button
         [routerLink]="['/dashboard', 'products_editor_edit', parentCategory_id, parentCategoryName, product._id]"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
        {{product.name}}
      </a>
    </div>
  </mat-card-actions>
</mat-card>
