<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">
    <!--<div class="item full-width-container">-->
    <!--<mat-card>-->
    <!--<mat-card-header></mat-card-header>-->
    <!--<mat-card-title></mat-card-title>-->

    <!--<mat-card-content>-->
    <div class="container">
      <div class="row">
        <div class="cell">
          <h2 class="mat-h2">Редактор колекцій</h2>
        </div>
      </div>
      <form [formGroup]="catalogForm" #f="ngForm" (submit)="onCatalogFormSubmit()">
        <div class="row" fxLayout="column" fxLayout.gt-xs="row">
          <div formArrayName="categories" class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25"
               *ngFor="let categoryBlock of catalogForm.get('categories')['controls']; let i = index">

                <mat-select placeholder="Виберіть категорію" formControlName="{{i}}" required
                            (selectionChange)="onSelectCategory($event, i)">
                  <mat-option *ngFor="let descendant of descendants[i]" [value]="descendant._id">
                    {{descendant.name}}
                  </mat-option>
            </mat-select>
          </div>

        </div>
      </form>
        <!--<div class="cell">-->

          <!--<a mat-icon-button-->
             <!--[routerLink]="['/dashboard/designs_editor_new']"-->
             <!--[routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">-->
            <!--<mat-icon>add_circle</mat-icon>-->
          <!--</a>-->
        <!--</div>-->


      <div *ngIf="noMoreDescendants" class="row" fxLayout="column" fxLayout.gt-xs="row">
        <div class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="20">
          <div class="preview-img-wrapper">
            <img src="{{
                        config.imgPath +
                        config.cloudinary.cloud_name +
                        '/c_fill,w_180,h_180,f_auto/' +
                        config.defaultProductImg}}" alt="product">
            <div class="preview-div-processing">
              <div class="button-wrapper">
                <!--<a mat-icon-button-->
                <!--[routerLink]="['/dashboard/designs_editor_new']"-->
                <!--[routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">-->
                <button mat-mini-fab color="primary" type="button"
                        [routerLink]="['/dashboard', 'products_editor_new', parentCategory_id, parentCategoryName]"
                        [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let product of products"  class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="20">
          <app-product-item-brief [product]="product" [parentCategory_id]="parentCategory_id" [parentCategoryName]="parentCategoryName"></app-product-item-brief>
        </div>

      </div>

        <!--<div class="cell"-->
        <!--fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">-->
        <!--<mat-card>-->
        <!--<mat-card-content>-->
        <!---->
        <!--</mat-card-content>-->
        <!--</mat-card>-->
        <!--</div>-->


        <!--<div *ngFor="let design of designs" class="cell"-->
             <!--fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">-->
          <!--<app-design-item [design]="design"></app-design-item>-->

        <!--</div>-->




    </div>

    <!--</mat-card-content>-->
    <!--</mat-card>-->
    <!--</div>-->
  </div>
</div>
