@import '~@angular/material/theming';
$mat-custom-darker: (
        50 : #f3f3f4,
        100 : #e0e0e3,
        200 : #cbccd1,
        300 : #b6b8bf,
        400 : #a7a8b1,
        500 : #9799a3,
        600 : #8f919b,
        700 : #848691,
        800 : #7a7c88,
        900 : #696b77,
        A100 : #f1f3fe,
        A200 : #c2c9fb,
        A400 : #8b9aff,
        A700 : #5459ad,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mat-custom-lighter: (
        50 : #f7f8f9,
        100 : #ecedf0,
        200 : #e0e1e6,
        300 : #d3d4db,
        400 : #c9cbd4,
        500 : #c0c2cc,
        600 : #babcc7,
        700 : #b2b4c0,
        800 : #aaacb9,
        900 : #9c9fad,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ebefff,
        A700 : #d2d9ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$mat-custom-warn: (
        50 : #f4f3f3,
        100 : #e3e1e0,
        200 : #d1cdcb,
        300 : #bfb9b6,
        400 : #b1aaa7,
        500 : #a35c51,
        600 : #9b1e20,
        700 : #91424b,
        800 : #88413c,
        900 : #77564e,
        A100 : #fef6f1,
        A200 : #fbd5c2,
        A400 : #ffb18b,
        A700 : #ffa071,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);


@include mat-core();
$primary: mat-palette($mat-custom-lighter);
$accent:  mat-palette($mat-custom-darker);
$warn:    mat-palette($mat-custom-warn);
$theme: mat-light-theme($primary, $accent, $warn);

$_primary: mat-color($primary);
$_accent: mat-color($accent, A700);
$_warn: mat-color($warn);


@include angular-material-theme($theme);


