<p>Design editor form</p>
<p>Edited id  {{edited_id}}</p>
<p>editMode  {{editMode}}</p>

<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">
    <div class="item full-width-container">
      <mat-card  class="form-block">
        <mat-card-header></mat-card-header>
        <mat-card-title></mat-card-title>

        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="cell">
                <h2 class="mat-h2">Редагувати дизайн</h2>
              </div>
            </div>

            <form [formGroup]="designForm" (submit)="onDesignFormSubmit()">

              <div class="row" fxLayout="column" fxLayout.gt-xs="row">

                <!--<div formArrayName="categories" class="cell" fxFlex.gt-xs="50"-->
                     <!--*ngFor="let categoryBlock of designForm.get('categories')['controls']; let i = index">-->
                  <!--&lt;!&ndash;<div [formGroupName]="i">&ndash;&gt;-->
                  <!--<mat-form-field>-->
                    <!--<mat-select placeholder="Категорія" formControlName="{{i}}" required-->
                                <!--(selectionChange)="onSelectCategory($event)">-->
                      <!--<mat-optgroup *ngFor="let category of categories" [label]="category.name">-->
                        <!--<mat-option *ngIf="category.numOfChildren === 0" [value]="category._id">-->
                          <!--{{ category.name }}-->
                        <!--</mat-option>-->
                        <!--<mat-option *ngFor="let subCategory of category.children" [value]="subCategory._id">-->
                          <!--{{ subCategory.name }}-->
                        <!--</mat-option>-->
                      <!--</mat-optgroup>-->
                    <!--</mat-select>-->
                    <!--<mat-error *ngIf="designForm.get('categories').at(i).errors?.required &&-->
                        <!--designForm.get('categories').at(i).touched">-->
                      <!--Виберіть категорію-->
                    <!--</mat-error>-->
                  <!--</mat-form-field>-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->

                <div class="cell" fxFlex.gt-xs="50">
                  <mat-form-field>
                    <input matInput placeholder="Дизайн" formControlName="_id" required>
                    <mat-error
                      *ngIf="(designForm.get('_id').errors?.minlength ||
                      designForm.get('_id').errors?.maxlength ||
                      designForm.get('_id').errors?.required) &&
                      designForm.get('_id').touched">
                      Довжина повинна бути від 7 до 12 символів
                    </mat-error>
                  </mat-form-field>
                </div>


              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>