<p>Design editor form</p>
<p>Edited id  {{edited_id}}</p>
<p>editMode  {{editMode}}</p>

<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">
    <div class="item full-width-container">
      <mat-card  class="form-block">
        <mat-card-header></mat-card-header>
        <mat-card-title></mat-card-title>

        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="cell">
                <h2 class="mat-h2">Редагувати дизайн</h2>
              </div>
            </div>

            <form [formGroup]="designForm" (submit)="onDesignFormSubmit()" novalidate>

              <div class="row" fxLayout="column" fxLayout.gt-xs="row">
                <div class="container" fxFlex.gt-xs="50">
                  <div class="row" fxLayout="column">

                    <div class="cell" fxFlex="100">
                        <mat-form-field>
                          <input matInput placeholder="Дизайн" formControlName="_id" required>
                          <mat-error
                            *ngIf="(designForm.get('_id').errors?.minlength ||
                      designForm.get('_id').errors?.maxlength ||
                      designForm.get('_id').errors?.required) &&
                      designForm.get('_id').touched">
                            Довжина повинна бути від 7 до 12 символів
                          </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="cell" fxFlex="100">
<!--{{config | json}}-->
                      <mat-form-field>
                        <mat-select placeholder="Структура" formControlName="structure">
                          <mat-option *ngFor="let struct of config.designStructure" [value]="struct">
                            {{struct}}
                          </mat-option>
                          <mat-error
                            *ngIf="designForm.get('_id').errors?.required &&
                            designForm.get('_id').touched">
                            Виберіть категорію
                          </mat-error>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                </div>
                <div class="cell" fxFlex.gt-xs="50">
                    <div class="preview-img-wrapper">
                      <img src="{{config.defaultProductImgPath}}" alt="designImage">
                      <input #inputFile type="file" (change)="addPictures($event)"
                             accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">

                      <div class="preview-div-processing">
                        <div class="button-wrapper">
                          <button mat-mini-fab color="primary" type="button"
                                  (click)="inputFile.click();">
                                <!--this.designForm.get('_id').disable();-->
                                <!--this.designForm.get('structure').disable();"-->
                                  <!--[disabled]="!productCreateForm.get('sku').disabled &&-->
                                <!--!productCreateForm.get('sku').valid || processingLoadFile >= 0">-->
                            <mat-icon>add</mat-icon>
                          </button>

                        </div>
                      </div>
                    </div>

                </div>


              </div>
              <div class="submit-button-wrapper">
                <!--<span fxFlex></span>-->
                <!--<button *ngIf="!editMode" mat-raised-button class="full-width" color="primary"-->
                        <!--[disabled]="!productCreateForm.valid || processingLoadFile >= 0">Створити</button>-->
                <button *ngIf="editMode" mat-raised-button class="full-width" color="primary">Зберегти</button>
                <button *ngIf="!editMode" mat-raised-button class="full-width" color="primary">Створити</button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>