<mat-card class="example-card">
  <mat-card-header>
    <!--<mat-card-title class="product-title bold">{{descendant.name}}</mat-card-title>-->
    <!--<mat-card-subtitle></mat-card-subtitle>-->
  </mat-card-header>
  <div class="product-cl-image-wrapper-outer">
    <div class="product-cl-image-wrapper-inner">
      <img src="{{config.imgPath + config.cloudinary.cloud_name + '/' + descendant.assets[0]}}"
           alt="product picture" class="product-cl-image">
    </div>
  </div>


  <mat-card-content>
    <!--<div class="container product-content">-->
      <!--<div class="row product-description">-->
        <!--<div class="item muted" fxFlexAlign="center">-->
          <!--{{product.description}}-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row muted" fxLayout="row">-->
        <!--<p class="product-info-title text-align-left item muted" fxFlex="50">Ширина-->
          <!--<span class="product-info-value">{{product.dimensions.width}}</span> см-->
        <!--</p>-->
        <!--<p class="product-info-title text-align-right item muted" fxFlex="50">Висота-->
          <!--<span class="product-info-value">{{product.dimensions.height}}</span> см-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="row muted" fxLayout="row">-->
        <!--<p fxFlex="25"></p>-->
        <!--<p class="product-info-title text-align-right item muted" fxFlex="75">Артикул-->
          <!--<span class="product-info-value">{{product.sku}}</span>-->
        <!--</p>-->
      <!--</div>-->

      <!--<div class="row muted" fxLayout="row">-->
        <!--<p class="product-icon-title text-align-left item muted" fxFlex="26"><mat-icon>remove_red_eye</mat-icon>-->
          <!--<span class="product-icon-value">{{product.views}}</span>-->
        <!--</p>-->
        <!--<p class="product-icon-title text-align-center item muted" fxFlex="48"><mat-icon>today</mat-icon>-->
          <!--<span class="product-icon-value">{{product.createdAt | date: 'dd.MM.yy'}}</span>-->
        <!--</p>-->
        <!--<p class="product-icon-title text-align-right item muted" fxFlex="26"><mat-icon>comment</mat-icon>-->
          <!--<span class="product-icon-value">{{product.comments.length}}</span>-->
        <!--</p>-->

      <!--</div>-->
    <!--</div>-->



  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <div fxFlex>
      <a mat-button
         [routerLink]="['/products', 'ch', {outlets: {primary: [descendant._id], breadcrumb: [descendant._id]}}]"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
        {{descendant.name}}
      </a>
    </div>

  </mat-card-actions>
</mat-card>