<mat-card>
  <mat-card-content>
    <div class="product-cl-image-wrapper-outer">
      <div class="product-cl-image-wrapper-inner">
        <img class="product-cl-image" src="{{
                        config.imgPath +
                        config.cloudinary.cloud_name +
                        '/c_fill,w_180,h_180,f_auto/' +
                        descendant.assets[0]}}" alt="product">
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div fxFlex></div>
    <div fxFlex>
      <a mat-button
         [routerLink]="['/products', 'ch', {outlets: {primary: [descendant._id], breadcrumb: [descendant._id]}}]"
         [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
        {{descendant.name}}
      </a>
    </div>

  </mat-card-actions>
</mat-card>
