<div class="container">
  <div class="row" fxLayout="column" fxLayout.gt-xs="row">

    <div class="cell padding-bottom" fxFlex="100">
      <mat-card>
        <mat-card-title>
          <p>Ми допоможемо підібрати покриття згідно ваших потреб</p>
        </mat-card-title>
        <mat-card-content>
          <div class="row" fxLayout="column" fxLayout.gt-xs="row">
            <div class="cell" fxHide.xs fxFlex.gt-xs="5"></div>
            <div class="cell" fxFlex.xs="100" fxFlex.gt-xs="90">
              <mat-form-field>
                <mat-select placeholder="Призначення покриття" (selectionChange)="onSelectCategory($event)">
                  <mat-option *ngFor="let recommendation of recommendations" [value]="recommendation" >
                    {{recommendation}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            </div>

        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <div class="row" fxLayout="column">
    <mat-tab-group dynamicHeight [backgroundColor]="'accent'">
      <mat-tab *ngFor="let product of products" [label]="product.name">
        <div class="container padding-bottom-3">
          <mat-card>
            <mat-card-subtitle>
              <a mat-button
                 [routerLink]="['/products', 'ch', {outlets: {primary: [product.parent, 'details', product._id],
                  breadcrumb: [product.parent, 'details', product._id]}}]"
                 [queryParams]="{name: product.name}"
                 [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
                {{product.name}}
              </a>
            </mat-card-subtitle>
            <div class="row" fxLayout="column" fxLayout.gt-xs="row">
              <div fxFlex="100" class="cell">{{product.description}}</div>

              <div fxFlex.sm="33" fxFlex.gt-sm="25" class="cell"
                   fxLayout fxLayoutAlign="center center"
                   *ngFor="let productAsset of product.assets">
                <mat-card *ngIf="media.isActive('xs')" class="no-padding">
                  <mat-card-header fxLayoutAlign="center center">
                    <!--<mat-card-subtitle class="design-image-title">{{galleryItem}}</mat-card-subtitle>-->
                  </mat-card-header>
                  <mat-card-content fxLayoutAlign="center center">

                    <img *ngIf="productAsset" class="responsive-image hover-cursor"
                         (click)="openDialog(productAsset, product.name)"
                         src="{{
                    config.imgPath +
                    config.cloudinary.cloud_name +
                    '/c_fill,w_590,h_295,f_auto/' +
                    productAsset}}"
                         alt="design">
                  </mat-card-content>
                </mat-card>


                <mat-card *ngIf="media.isActive('gt-xs')" class="no-padding" fxFlex.gt-xs="100">
                  <mat-card-header fxLayoutAlign="center center">
                    <!--<mat-card-subtitle class="design-image-title">{{galleryItem}}</mat-card-subtitle>-->
                  </mat-card-header>
                  <mat-card-content fxLayoutAlign="center center">
                    <img *ngIf="productAsset" class="responsive-image-stretch hover-cursor"
                         (click)="openDialog(productAsset, product.name)"
                         src="{{
                    config.imgPath +
                    config.cloudinary.cloud_name +
                    '/c_fill,w_350,h_175,f_auto/' +
                    productAsset}}"
                         alt="design">
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>

  <!--<div class="row" fxLayout="column" fxLayout.gt-xs="row">-->

    <!--<div class="cell" fxFlex="100">-->
      <!--<mat-card>-->
        <!--<mat-card-content>-->
          <!--<p class="text-justify muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod-->
            <!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation-->
            <!--ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in-->
            <!--voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat-->
            <!--non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->

    <!--</div>-->
  <!--</div>-->


  <!--<div class="row" fxLayout="column" fxLayout.gt-xs="row">-->
    <!--<div fxFlex.sm="33" fxFlex.gt-sm="25" class="cell"-->
         <!--fxLayout fxLayoutAlign="center center"-->
         <!--*ngFor="let galleryItem of gallery">-->
      <!--<mat-card *ngIf="media.isActive('xs')" class="no-padding">-->
        <!--<mat-card-header fxLayoutAlign="center center">-->
          <!--&lt;!&ndash;<mat-card-subtitle class="design-image-title">{{galleryItem}}</mat-card-subtitle>&ndash;&gt;-->
        <!--</mat-card-header>-->
        <!--<mat-card-content fxLayoutAlign="center center">-->

          <!--&lt;!&ndash;(click)="openDialog(galleryItem)" src="{{&ndash;&gt;-->
          <!--<img *ngIf="galleryItem" class="responsive-image hover-cursor"-->
               <!--src="{{-->
                    <!--config.imgPath +-->
                    <!--config.cloudinary.cloud_name +-->
                    <!--'/c_fill,w_590,h_295,f_auto/' +-->
                    <!--galleryItem}}"-->
               <!--alt="design">-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->


      <!--<mat-card *ngIf="media.isActive('gt-xs')" class="no-padding" fxFlex.gt-xs="100">-->
        <!--<mat-card-header fxLayoutAlign="center center">-->
          <!--&lt;!&ndash;<mat-card-subtitle class="design-image-title">{{galleryItem}}</mat-card-subtitle>&ndash;&gt;-->
        <!--</mat-card-header>-->
        <!--<mat-card-content fxLayoutAlign="center center">-->
          <!--<img *ngIf="galleryItem" class="responsive-image-stretch hover-cursor"-->
               <!--src="{{-->
                    <!--config.imgPath +-->
                    <!--config.cloudinary.cloud_name +-->
                    <!--'/c_fill,w_350,h_175,f_auto/' +-->
                    <!--galleryItem}}"-->
               <!--alt="design">-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->


    <!--</div>-->
  <!--</div>-->

</div>