<div class="container">

  <div class="row" fxLayout="column" fxLayout.gt-xs="row">

    <div class="cell" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <p class="text-justify muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>


  <div class="row" fxLayout="column" fxLayout.gt-xs="row">
    <div fxFlex.sm="33" fxFlex.gt-sm="25" class="cell"
         fxLayout fxLayoutAlign="center center"
         *ngFor="let galleryItem of gallery">
      <mat-card *ngIf="media.isActive('xs')" class="no-padding">
        <mat-card-header fxLayoutAlign="center center">
          <!--<mat-card-subtitle class="design-image-title">{{galleryItem}}</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center">

          <!--(click)="openDialog(galleryItem)" src="{{-->
          <img *ngIf="galleryItem" class="responsive-image hover-cursor"
               src="{{
                    config.imgPath +
                    config.cloudinary.cloud_name +
                    '/c_fill,w_590,h_295,f_auto/' +
                    galleryItem}}"
               alt="design">
        </mat-card-content>
      </mat-card>


      <mat-card *ngIf="media.isActive('gt-xs')" class="no-padding" fxFlex.gt-xs="100">
        <mat-card-header fxLayoutAlign="center center">
          <!--<mat-card-subtitle class="design-image-title">{{galleryItem}}</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content fxLayoutAlign="center center">
          <img *ngIf="galleryItem" class="responsive-image-stretch hover-cursor"
               src="{{
                    config.imgPath +
                    config.cloudinary.cloud_name +
                    '/c_fill,w_350,h_175,f_auto/' +
                    galleryItem}}"
               alt="design">
        </mat-card-content>
      </mat-card>


    </div>
  </div>

  <div class="row" fxLayout="column" fxLayout.gt-xs="row">

    <div class="cell" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <p class="text-justify muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>