<div class="app-container">
  <div class="container">
    <div class="row" fxLayout="column" fxLayout.gt-xs="row">

      <div class="cell" fxFlex="100">
        <mat-card>
          <mat-card-header>
                <!--<h1 class="mat-display-2">Вітаємо на сайті Компанії Трайс!</h1>-->

                <img src="/assets/images/trice_logo_full.png" alt="logo" class="info-logo-trice">

          </mat-card-header>
          <mat-card-content>
            <p class="text-justify muted mat-body-1">
              Компанія <strong>Трайс</strong> є офіційним представником <strong>Graboplast</strong> в Україні,
              одного з найбільших виробників покриття на підлогу європейської якості.
              Широкий спектр нашої продукції може задовільнити потреби найвимогливішого клієнта.</p>
            <p class="text-justify muted mat-body-1">
              Поряд із побутовим, компанія пропонує комерційне та напівкомерційне, спортивне, транспортне,
              сценічне покриття на підлогу, паркет, дизайнерську ПВХ плитку.
              Graboplast, з метою досягнення більшого зросту на ринку, впевнено йде у ногу з часом, за допомогою
              сучасних технологій створює нові типи покриття на підлогу, яке можна використовувати у різних сферах:
              в закладах охорони здоров’я, освіти, розважальних центрах, громадських установах тощо.</p>
            <p class="text-justify muted mat-body-1">
              Наша вимога – висока якість, що відповідає спеціальним нормам і стандартам та конкурентноспроможність.</p>
            <p class="text-justify muted mat-body-1">
              Наші представники надають кваліфіковану консультацію по різним видам покриття на підлогу,
              укладці та подальшому догляду. Індивідуальний підхід до кожного клієнта, враховуючи усі
              побажання та сучасні тенденції сьогодення – це запорука успіху.</p>
            <p class="text-justify muted mat-body-2">
              Запрошуємо Вас до співпраці!
            </p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>


</div>