<form [formGroup]="findDesignForm" novalidate>

  <mat-form-field >
    <input type="text" matInput placeholder="Знайти дизайн" formControlName="findDesign" [matAutocomplete]="designSelector">
    <mat-autocomplete #designSelector="matAutocomplete">
      <mat-option *ngFor="let filteredDesign of filteredDesigns | async"
                  (click)="onSelectDesign(_getDesign(filteredDesign), closer)" [value]="filteredDesign">
        {{filteredDesign}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
