<div class="row" fxLayout>
  <div class="cell" fxFlex>
    <mat-card *ngIf="product">
      <mat-card-header>
        <!--category_id {{category_id}}-->
      </mat-card-header>
      product {{product | json}}


      <mat-card-content>
        <div class="row" fxLayout>
          <div class="cell" fxFlex>
            <h1>{{product.name}}</h1>
            <p>{{product.description}}
            </p>
          </div>
        </div>
        <div class="row" fxLayout="column" fxLayout.gt-sm="row">
          <div class="cell" fxFlex.gt-sm="50" fxLayout="column">
            <div class="row" fxFlex="100">
              <div class="product-detail-assets-wrapper-first">
                <img src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_535,h_350,f_auto/' +
              product.mainImage}}"
                     alt="designImage">
              </div>
            </div>

            <div class="row" fxFlex="100" fxLayout="column" fxLayout.gt-sm="row">
              <div class="item" fxFlex="25" *ngFor="let asset of product.assets; let i = index">
                <div class="product-detail-assets-wrapper-other">
                  <img src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_260,h_170,f_auto/' +
              asset}}"
                       alt="designImage">
                </div>
              </div>

            </div>

          </div>
          <div class="cell" fxFlex.gt-sm="50">
            <p>ADDITIONAL SECTOR2 Паркетная система Grabo StrongAir Elite, специально разработанная для больших нагрузок,
              предназначена для мультифункциональных спортзалов. Верхняя часть системы представляет
              собой трёхслойный спортивный паркет толщиной 22 мм, со стабильным средним слоем и износостойким
              спортивным лаком. Благодаря своему отличному энергопоглащающему основанию, система эффективно защищает
              суставы спортсмена, максимально способствует достижению выдающихся спортивных результатов.
            </p>
          </div>
        </div>

        <div class="row" fxLayout="column" fxLayout.gt-xs="row">
          <div class="cell">
            <p>DESIGN ZONE Паркетная система Grabo StrongAir Elite, специально разработанная для больших нагрузок,
              предназначена для мультифункциональных спортзалов. Верхняя часть системы представляет
              собой трёхслойный спортивный паркет толщиной 22 мм, со стабильным средним слоем и износостойким
              спортивным лаком. Благодаря своему отличному энергопоглащающему основанию, система эффективно защищает
              суставы спортсмена, максимально способствует достижению выдающихся спортивных результатов.
            </p>
          </div>
        </div>


      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>