<div class="row" fxLayout>
  <div class="cell" fxFlex>
    <mat-card *ngIf="product">
      <mat-card-header>
      </mat-card-header>
      <!--product {{product | json}}-->


      <mat-card-content>
        <div class="row" fxLayout>
          <div class="cell" fxFlex>
            <h1>{{product.name}}</h1>
            <p>{{product.description}}
            </p>
          </div>
        </div>
        <div class="row" fxLayout="column" fxLayout.gt-sm="row">

          <div class="cell" fxFlex.gt-sm="65" fxLayout="column">

            <div class="row" fxFlex fxLayout="row">
              <div class="cell" fxFlex="100" fxLayout fxLayoutAlign="center center">
                  <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_535,h_350,f_auto/' +
              product.mainImage}}"
                       alt="designImage">
              </div>
            </div>

            <div class="row" fxFlex fxLayout="column" fxLayout.gt-xs="row">
                <div fxFlex="33" class="cell" fxLayout fxLayoutAlign="center center"
                     *ngFor="let asset of product.assets">
                    <img fxflex class="product-detail-image" src="{{
              config.imgPath +
              config.cloudinary.cloud_name +
              '/c_fill,w_260,h_170,f_auto/' +
              asset}}"
                         alt="designImage">
                </div>
            </div>

          </div>
          <div class="cell" fxFlex.gt-sm="35" fxLayout="column">

            <div class="row" fxFlex fxLayout="row">
              <!--<div class="cell" fxHide.lt-md fxFlex="30" fxLayout fxLayoutAlign="center"></div>-->

              <div class="cell" fxFlex="100">
                <H2 class="mat-h2">Рекомендовані області застосування</H2>
                <mat-list>
                  <mat-list-item *ngFor="let recommendation of product.recommendations">
                    <mat-icon matListIcon>arrow_right</mat-icon>
                    <h3 matLine> {{recommendation}} </h3>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>

          </div>
        </div>

        <div class="row" fxLayout="column" fxLayout.gt-xs="row">
          <div class="cell">
            <p>DESIGN ZONE Паркетная система Grabo StrongAir Elite, специально разработанная для больших нагрузок,
              предназначена для мультифункциональных спортзалов. Верхняя часть системы представляет
              собой трёхслойный спортивный паркет толщиной 22 мм, со стабильным средним слоем и износостойким
              спортивным лаком. Благодаря своему отличному энергопоглащающему основанию, система эффективно защищает
              суставы спортсмена, максимально способствует достижению выдающихся спортивных результатов.
            </p>
          </div>
        </div>


      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</div>