<div fxLayout="column">
  <div class="cell" fxLayout>
    <div fxFlex="calc(100%-40px)" fxLayoutAlign="center center">
      <h3 class="h3 muted">{{data._id}}</h3>
    </div>

    <div fxFlex="40px" fxLayoutAlign="end center">
      <div>
        <button mat-icon-button color="accent" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div *ngIf="designProducts" class="container">
    <div class="row" fxLayout="row">
      <div class="cell" fxFlex="100" fxLayout="row" fxFill="center">

        <mat-form-field fxFlex="100">
        <mat-select placeholder="Колекції" #productSelect (valueChange)="onProductSelect($event)">
          <mat-option *ngFor="let product of designProducts" [value]="product">
            <!--<a mat-stroked-button (click)="onClose()" class="radius-5 text-center"-->
               <!--[routerLink]="['/products', 'ch', {outlets: {primary: [product.category_id, 'details', product._id],-->
                <!--breadcrumb: [product.category_id, 'details', product._id]}}]"-->
               <!--[queryParams]="{name: product.name}"-->
               <!--[routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">-->
              {{product.name}}
            <!--</a>-->
          </mat-option>
        </mat-select>
          </mat-form-field>
        <!--<div class="cell-padding" fxFlex="1 1 auto" *ngFor="let product of designProducts" fxLayout="row">-->
          <!--<a fxFlex="1 1 auto" mat-stroked-button (click)="onClose()" class="radius-5 text-center"-->
             <!--[routerLink]="['/products', 'ch', {outlets: {primary: [product.category_id, 'details', product._id],-->
           <!--breadcrumb: [product.category_id, 'details', product._id]}}]"-->
             <!--[queryParams]="{name: product.name}"-->
             <!--[routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">-->
            <!--{{product.name}}-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="responsive-image-popup-container">
      <img class="responsive-image-popup" src="{{
          config.imgPath +
          config.cloudinary.cloud_name +
          cloudinaryOptions +
          data.image}}"
           alt="design">
  </div>



</div>





