<div fxLayout="column">
  <div class="cell" fxLayout>
    <div fxFlex="calc(100%-50px)" fxLayoutAlign="center center">
      <h3 class="h3 muted">{{data._id}}</h3>
    </div>

    <div fxFlex="50px" fxLayoutAlign="end center">
      <div>
        <button mat-icon-button color="accent" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div>
    <img class="responsive-image" src="{{
          config.imgPath +
          config.cloudinary.cloud_name +
          cloudinaryOptionds +
          data.image}}"
         alt="design">

  </div>
</div>





