<div fxLayout="column">
  <div fxFlex fxLayout>
    <div fxFlex="calc(100%-50px)" fxLayoutAlign="center center">
      <h3 class="mat-h3 muted">{{data._id}}</h2>
    </div>

    <div fxFlex="50px" fxLayoutAlign="end center">
      <div>
        <button mat-icon-button color="accent" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div fxFlex fxLayoutAlign="center center">
    <img class="product-detail-image" src="{{
          config.imgPath +
          config.cloudinary.cloud_name +
          '/c_fill,w_650,h_650,f_auto/' +
          data.image}}"
         alt="design">

  </div>
</div>





