  <div class="container">

      <div class="row" fxLayout=row id="home-top" 
        data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
        <div class="cell" fxFlex=5 hxHide.lt-md></div>
        <div class="cell-padding-2 wrap" fxFlex="100" fxFlex.gt-sm=40 fxLayout="row">
              <div fxFlex="100" fxLayoutAlign="center center">
                  <img id="home-logo" src="./assets/images/grabo_logo_full2.svg" alt="logo">
              </div>
              <!-- <h1 class="mat-h4">покриття на будь-яку підлогу</h1> -->
              <!-- <div> -->
                <!-- <button mat-fab-button class="radius-5" (click)="onScroll()">Down</button> -->
                <!-- <button *ngIf="media.isActive('lt-md')" color="primary" mat-mini-fab (click)="onScroll()" id="scroll-down-btn"> -->
                  <!-- <mat-icon>keyboard_arrow_down</mat-icon></button> -->
              <!-- </div> -->
              <div class="wrap" fxFlex="100" fxLayoutAlign="end start" fxLayout="row">
                <div class="padding-bottom" fxFlex="100"  fxLayoutAlign="start center">
                    <app-design-searcher [closer]="false"></app-design-searcher>
                </div>
                <div class="padding-bottom " fxFlex="100" fxLayoutAlign="start center">
                  <a mat-flat-button color="primary" class="radius-5 home-action" [routerLink]="['/usages/ch']">
                     Підібрати покриття</a>
                </div>

              </div>
              <div fxFlex="100" fxLayoutAlign="center center">
                  <div class="padding-bottom" fxFlex="100" fxLayoutAlign="start end">
                      <a mat-button class="radius-5 muted" [routerLink]="['/feedback']">
                        <mat-icon>mail</mat-icon> Задати питання</a>
                    </div>
              </div>
        </div>
        <div class="cell" fxHide.lt-md="100" fxFlex.gt-sm=50 fxLayout="row" fxLayoutAlign="center center">
                <app-crsl></app-crsl>
        </div>
      </div>

      <div id="home-center">
          <div class="row home-center-section" fxLayout=row *ngFor="let descendant of descendants" 
            data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
            <div class="cell" fxFlex=5 hxHide.lt-md></div>
            <div class="cell-padding-2 wrap" fxFlex="100" fxFlex.gt-sm=40 fxLayoutAlign="center center">
                <a fxFlex="100" class="text-center"
                [routerLink]="['/products', 'ch', {outlets: {primary: [descendant._id], breadcrumb: [descendant._id]}}]"
                [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
                <h2 class="mat-h1">{{descendant.name}}</h2>
                </a>
              <h3 fxFlex="100" class="mat-h3">{{descendant.slogan}}</h3>
            </div>
            <div class="cell" fxFlex="100" fxFlex.gt-sm=50 fxLayoutAlign="center center"
                data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-out-sine" data-aos-duration="600">
                <a fxFlex="100" fxLayoutAlign="center center"
                [routerLink]="['/products', 'ch', {outlets: {primary: [descendant._id], breadcrumb: [descendant._id]}}]"
                [routerLinkActive]="['accent-background']" [routerLinkActiveOptions]="{exact: true}">
                <img *ngIf="media.isActive('gt-sm')"
                      class="responsive-image" src="{{
                      config.imgPath +
                      config.cloudinary.cloud_name +
                      '/c_fill,w_680,h_340,f_auto/e_saturation:-70/' +
                      descendant.assets[0]}}"
                      alt="designImage">
                <img *ngIf="media.isActive('lt-md')"
                      class="responsive-image" src="{{
                      config.imgPath +
                      config.cloudinary.cloud_name +
                      '/c_fill,w_600,h_300,f_auto/e_saturation:-70/' +
                      descendant.assets[0]}}"
                      alt="designImage">
                </a>

                
            </div>
        </div>
      </div>

  <div class="row" fxLayout=row id="home-bottom"   
        data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600">
    <div class="cell-padding-2" fxFlex="100">
      <!-- <div class="row" fxLayout="row">
        <div class="cell"fxFlex="100" fxLayoutAlign="center">
            <h2 class="mat-h2">ТзОВ "Трайс" </h2>


        </div>
      </div> -->

      <div class="row" fxLayout="row" fxLayoutAlign.xs="center" fxLayoutAlign.sm="start" fxLayoutAlign.gt-sm="center">
        <div class="cell" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3">
                <h3 class="mat-h2 text-align-center">Головний офіс</h3>
                <p class="text-justify muted">
                  Адреса: м. Дніпро, вул. Булата, 12
                </p>
                <p class="text-justify muted">
                  <a mat-button class="muted"
                    href="tel:+380567339675">
                    <mat-icon>phone</mat-icon> тел/факс 056 733 96 75
                  </a>
                </p>
                <p class="text-justify muted">
                  <a mat-button class="muted"
                    href="tel:+380956535511">
                    <mat-icon>phone</mat-icon> vodafone 095 653 55 11
                  </a>
                </p>
                <p class="text-justify muted">
                  <a mat-button class="muted"
                    href="tel:+380677029230">
                    <mat-icon>phone</mat-icon> kyivstar 067 702 92 30
                  </a>
                </p>
                <p class="text-justify muted">
                  <a mat-button class="muted"
                    href="mailto: trice.pvc@gmail.com">
                    <mat-icon>mail</mat-icon> trice.pvc@gmail.com
                  </a>
                </p>
        </div>
        <div class="cell" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3">
                    <h3 class="mat-h2 text-align-center">Західний регіон</h3>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="tel:+380985443968">
                        <mat-icon>phone</mat-icon> 098 544 39 68
                      </a>
                    </p>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="mailto: linoleum.ua@gmail.com">
                        <mat-icon>mail</mat-icon> linoleum.ua@gmail.com
                      </a>
                    </p>
        </div>
        <div class="cell" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3">
                    <h3 class="mat-h2 text-align-center">м. Київ</h3>
                    <h3 class="mat-h3">ТОВ "Віваді"</h3>
                    <p class="text-justify muted">
                      Адреса: м.Київ, пр. Соборності, 19/офіс 205
                    </p>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="tel:+380443929290">
                        <mat-icon>phone</mat-icon> тел/факс 044 392 92 90
                      </a>
                    </p>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="tel:+380672081302">
                        <mat-icon>phone</mat-icon> 067 208 13 02
                      </a>
                    </p>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="tel:+380672080606">
                        <mat-icon>phone</mat-icon> 067 208 06 06
                      </a>
                    </p>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="tel:+3805086521236">
                        <mat-icon>phone</mat-icon> 050 865 21 23
                      </a>
                    </p>
                    <p class="text-justify muted">
                      <a mat-button class="muted"
                        href="https://www.vivadi.com.ua" target="_blank">
                        <mat-icon>screen_share</mat-icon> www.vivadi.com.ua
                      </a>
                    </p>
        </div>
      </div>
    </div>
  </div>
</div>