<div class="container">
  <div class="row" fxLayout="column" fxLayout.gt-xs="row">

    <div class="cell"
         fxFlex.sm="60" fxFlex.md="70" fxFlex.gt-md="80">
      <div class="row" fxLayout="column" fxLayout.gt-xs="row">
        <div class="cell"
             fxFlex.sm="100" fxFlex.md="50" fxFlex.gt-md="25"
          *ngFor="let product of products">
          <!--<p>Показати: {{itemsToShow}}</p>-->
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>

    <div class="cell" fxFlex.sm="40" fxFlex.md="30" fxFlex.gt-md="20">
      <div class="item">
        <mat-card>
          <div class="avatar-big-block">
            <img class="avatar-big" src="./assets/images/default-avatar180x180.png" alt="my photo">
          </div>
          <mat-card-header>
            <mat-card-title>Про себе</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="text-justify muted">text</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</div>
