<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">
    <div class="full-width-container">
      <mat-card  class="form-block">
        <mat-card-header></mat-card-header>
        <mat-card-title>
          <h2 *ngIf="editMode" class="mat-h2">Редагувати колекцію
            <span class="accent">{{productForm.get('name').value}}</span> у розділі
            <span class="accent">{{parentCategoryName}}</span></h2>
          <h2 *ngIf="!editMode" class="mat-h2">Створити колекцію у розділі <span class="accent">{{parentCategoryName}}</span></h2>
        </mat-card-title>

        <mat-card-content>
          <div class="container">
            <!--<div class="row">-->
              <!--<div class="cell">-->
                <!--<p>{{parentCategory_id}} - {{parentCategoryName}}</p>-->
              <!--</div>-->
            <!--</div>-->

            <form [formGroup]="productForm" #f="ngForm" (submit)="onProductFormSubmit()" novalidate>



              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                    <div class="cell" fxFlex="25" fxFlex.lt-md="50">
                      <mat-form-field>
                        <input matInput placeholder="Ідентифікатор" formControlName="_id" required>
                        <mat-error
                          *ngIf="(productForm.get('_id').errors?.minlength ||
                                  productForm.get('_id').errors?.maxlength ||
                                  productForm.get('_id').errors?.required) &&
                                  productForm.get('_id').touched">
                          Довжина повинна бути від 3 до 25 символів
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="cell" fxFlex="25" fxFlex.lt-md="50">
                      <mat-form-field>
                        <input matInput placeholder="Назва" formControlName="name" required>
                        <mat-error
                          *ngIf="(productForm.get('name').errors?.minlength ||
                                  productForm.get('name').errors?.maxlength ||
                                  productForm.get('name').errors?.required) &&
                                  productForm.get('name').touched">
                          Довжина повинна бути від 3 до 50 символів
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="cell" fxFlex="25" fxFlex.lt-md="50">
                      <mat-form-field>
                                        <mat-select placeholder="Публікувати" formControlName="display" required>
                          <mat-option [value]="true">
                            Так
                          </mat-option>
                          <mat-option [value]="false">
                            Ні
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.get('display').errors?.required &&
                                  productForm.get('display').touched">
                          Обов'язкове поле
                        </mat-error>
                      </mat-form-field>
                    </div>

                <!--<div class="cell" fxFlex="25" fxFlex.lt-md="50">-->
                  <!--<mat-form-field>-->
                    <!--<input matInput placeholder="Порядок" formControlName="order" required>-->
                    <!--<mat-error-->
                      <!--*ngIf="productForm.get('order').errors?.required &&-->
                                  <!--productForm.get('order').touched">-->
                      <!--Обов'язкове поле-->
                    <!--</mat-error>-->
                  <!--</mat-form-field>-->
                <!--</div>-->
              </div>

              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell" fxFlex="100">
                  <mat-form-field>
                    <textarea matInput placeholder="Опис" formControlName="description" required></textarea>
                    <mat-error
                      *ngIf="(productForm.get('description').errors?.minlength ||
                                  productForm.get('description').errors?.maxlength ||
                                  productForm.get('description').errors?.required) &&
                                  productForm.get('description').touched">
                      Довжина повинна бути від 3 до 500 символів
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell-header" fxLayout="row" fxFlex="100">
                  <h3 class="mat-h3 margin-0">Технічні характеристики
                    <span>
                       <button  *ngIf="productForm.get('techDescriptions').value.length < 5"
                                mat-icon-button color="accent" type="button"
                                (click)="addTechDescriptionsControl()"><mat-icon>add_circle</mat-icon></button>
                    </span>
                  </h3>

                </div>

                  <div formArrayName="techDescriptions" class="cell" fxFlex="100"
                            *ngFor="let techDescription of productForm.get('techDescriptions')['controls']; let i = index">
                    <mat-card formGroupName="{{i}}" fxLayout="column" fxLayout.gt-xs="row" >
                      <!--<div class="cell" fxFlex="100%-100px" fxLayout="column" fxLayout.gt-xs="row" >-->
                        <mat-form-field class="item" fxFlex="calc((100%-40px)-67%)">
                          <input matInput placeholder="Характеристика" formControlName="techName" required>
                          <mat-error
                            *ngIf="productForm.get('techDescriptions').at(i).get('techName').errors?.required &&
                                  productForm.get('techDescriptions').at(i).get('techName').touched">
                            Обов'язкове поле
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="item" fxFlex="calc((100%-40px)-67%)">
                          <input matInput placeholder="Одиниці виміру" formControlName="techUnit" required>
                          <mat-error
                            *ngIf="productForm.get('techDescriptions').at(i).get('techUnit').errors?.required &&
                                  productForm.get('techDescriptions').at(i).get('techUnit').touched">
                            Обов'язкове поле
                          </mat-error>
                        </mat-form-field>
                        <mat-form-field class="item" fxFlex="calc((100%-40px)-67%)">
                          <input matInput placeholder="Значення" formControlName="techValue" required>
                          <mat-error
                            *ngIf="productForm.get('techDescriptions').at(i).get('techValue').errors?.required &&
                                  productForm.get('techDescriptions').at(i).get('techValue').touched">
                            Обов'язкове поле
                          </mat-error>
                        </mat-form-field>
                      <!--</div>-->

                      <div class="item" fxFlex.gt-xs="40px" fxLayoutAlign="center center">
                        <!--<div class="margin-auto">-->
                          <button class="text-align-center" *ngIf="productForm.get('techDescriptions').value.length < 5"
                                  mat-icon-button color="accent" type="button"
                                  (click)="removeTechDescriptionsControl(i)"><mat-icon>remove_circle</mat-icon></button>
                        <!--</div>-->

                      </div>
                    </mat-card>

                  </div>

              </div>


              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell-header" fxLayout="row" fxFlex="100">
                    <h3 class="mat-h3 margin-0">Рекомендації <span>
                       <button  *ngIf="productForm.get('recommendations').value.length < 5"
                                mat-icon-button color="accent" type="button"
                                (click)="addRecommendationsControl()"><mat-icon>add_circle</mat-icon></button>
                    </span></h3>

                </div>
                <div formArrayName="recommendations" class="cell" fxFlex="25" fxFlex.lt-md="50"
                  *ngFor="let recommendation of productForm.get('recommendations')['controls']; let i = index">
                  <mat-form-field>
                    <input matInput placeholder="Рекомендації" formControlName="{{i}}" required>
                    <!--<mat-hint *ngIf="productForm.get('recommendations').value.length > 1 " align="end"-->
                              <!--class="remove-field" (click)="removeRecommendationsControl(i)">Видалити</mat-hint>-->
                    <mat-icon matSuffix color="accent" (click)="removeRecommendationsControl(i)">delete_forever</mat-icon>
                    <mat-error
                      *ngIf="productForm.get('recommendations').at(i).errors?.required &&
                                  productForm.get('recommendations').at(i).touched">
                      Обов'язкове поле
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell-header" fxLayout="column" fxLayout.gt-xs="row" fxFlex="100">
                  <!--<div class="item" fxFlex="50">-->
                    <h3 class="mat-h3 margin-0">Дизайни

                    </h3>
                  </div>
                  <div class="cell" fxFlex="50" fxLayout="row">
                    <div class="item" fxFlex="calc(100%-40px)">
                      <mat-form-field >
                        <input type="text" matInput placeholder="Додати дизайн" formControlName="des" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let filteredDesign of filteredDesigns | async" [value]="filteredDesign">
                            {{filteredDesign}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div>


                    <div class="item" fxLayoutAlign="center center" fxFlex="40px">
                       <button [disabled]="!designValidity" mat-icon-button color="accent" type="button"
                               (click)="addDesign()"><mat-icon>add_circle</mat-icon></button>
                    </div>
                  </div>
                <div class="cell" fxFlex="50">
                </div>

                <div formArrayName="designs" class="cell" fxFlex="25" fxFlex.lt-md="50"
                     *ngFor="let des of productForm.get('designs')['controls']; let i = index">
                  <h4 *ngIf="productForm.get('designs').value[i]"
                      class="mat-h4 text-center">{{productForm.get('designs').value[i]}}</h4>
                  <div *ngIf="productForm.get('designs').value[i] && designs" class="preview-img-wrapper">
                    <img alt="designImage" src="{{
                    config.imgPath +
                    config.cloudinary.cloud_name +
                    '/c_fill,h_180,w_180/' +
                    getDesign(productForm.get('designs').value[i]).image}}">
                  </div>

                  <p class="remove-field text-center"
                     (click)="removeDesignsControl(i)">Видалити зображення</p>
                </div>
              </div>


              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
              <div class="cell-header" fxLayout="row" fxFlex="100">
                <h3 class="mat-h3 margin-0">Головне зображення колекції</h3>
              </div>
              <div class="cell" fxFlex="25">
                <div class="preview-img-wrapper" >
                  <img *ngIf="productForm.get('mainImage').value" src="{{
                      config.imgPath +
                      config.cloudinary.cloud_name +
                       '/c_fill,h_180,w_180,f_auto/' + productForm.get('mainImage').value}}"
                       alt="Main Image">



                  <img *ngIf="!productForm.get('mainImage').value"
                       src="{{
                       config.imgPath +
                      config.cloudinary.cloud_name +
                       '/c_fill,h_180,w_180,f_auto/'+
                       config.defaultProductImg}}" alt="Main Image">
                  <input #inputMainImage type="file" (change)="addMainImage($event)"
                         accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">
                  <div class="preview-div-processing">
                    <div *ngIf="processingLoadImage" class="spinner-wrapper">
                      <mat-spinner [diameter]="24"></mat-spinner>
                    </div>


                    <div *ngIf="!processingLoadImage" class="button-wrapper">
                      <button mat-mini-fab color="primary" type="button"
                              (click)="inputMainImage.click();"
                              [disabled]="processingLoadImage">
                        <mat-icon *ngIf="!productForm.get('mainImage').value && !processingLoadImage">add</mat-icon>
                        <mat-icon *ngIf="productForm.get('mainImage').value && !processingLoadImage">redo</mat-icon>
                      </button>

                    </div>
                  </div>
                </div>
              </div>


            </div>

              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell-header" fxLayout="row" fxFlex="100">
                  <h3 class="mat-h3 margin-0">Зображення колекції в меню</h3>
                </div>
                <div class="cell" fxFlex="25">
                  <div class="preview-img-wrapper" >
                    <img *ngIf="productForm.get('briefImage').value" src="{{
                      config.imgPath +
                      config.cloudinary.cloud_name +
                       '/c_fill,w_180,h_180,f_auto/' + productForm.get('briefImage').value}}"
                         alt="Main Image">
                    <img *ngIf="!productForm.get('briefImage').value"
                         src="{{
                       config.imgPath +
                      config.cloudinary.cloud_name +
                       '/c_fill,w_180,h_180,f_auto/'+
                       config.defaultProductImg}}" alt="Main Image">
                    <input #inputBriefImage type="file" (change)="addBriefImage($event)"
                           accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">
                    <div class="preview-div-processing">
                      <div *ngIf="processingLoadBriefImage" class="spinner-wrapper">
                        <mat-spinner [diameter]="24"></mat-spinner>
                      </div>


                      <div *ngIf="!processingLoadBriefImage" class="button-wrapper">
                        <button mat-mini-fab color="primary" type="button"
                                (click)="inputBriefImage.click();"
                                [disabled]="processingLoadImage">
                          <mat-icon *ngIf="!productForm.get('briefImage').value && !processingLoadBriefImage">add</mat-icon>
                          <mat-icon *ngIf="productForm.get('briefImage').value && !processingLoadBriefImage">redo</mat-icon>
                        </button>

                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell-header" fxLayout="row" fxFlex="100">
                    <h3 class="mat-h3 margin-0">Додаткові зображення колекції</h3>
                  </div>
                  <div formArrayName="assets" class="cell" fxFlex="25" fxFlex.lt-md="50"
                     *ngFor="let asset of productForm.get('assets')['controls']; let i = index">
                  <div *ngIf="productForm.get('assets').value[i]" class="preview-img-wrapper">
                    <img src="{{config.imgPath + config.cloudinary.cloud_name + '/c_fill,h_180,w_180,f_auto/' + productForm.get('assets').value[i]}}"
                         alt="productImage">
                    <div *ngIf="processingLoadAssets === i" class="preview-div-processing">
                      <div class="spinner-wrapper">
                        <mat-spinner [diameter]="24"></mat-spinner>
                      </div>
                    </div>
                  </div>
                    <p *ngIf="processingLoadAssets !== i" class="remove-field text-center"
                       (click)="removeAssetsControl(i)">Видалити зображення</p>
                  </div>

                  <div class="cell" fxFlex="25" fxFlex.lt-md="50"
                       *ngIf="productForm.get('assets').value.length < 3">
                    <div class="preview-img-wrapper">
                      <img src="{{
                        config.imgPath +
                        config.cloudinary.cloud_name +
                        '/c_fill,w_180,h_180,f_auto/' +
                        config.defaultProductImg}}" alt="product">
                      <input #inputFile type="file" (change)="addAssets($event)"
                             accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">

                      <div class="preview-div-processing">
                        <div class="button-wrapper">
                          <button mat-mini-fab color="primary" type="button"
                                  (click)="inputFile.click();"
                                  [disabled]="processingLoadAssets >= 0">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              <div class="row padding-bottom" fxLayout="column" fxLayout.gt-xs="row">
                <div class="cell-header" fxFlex="100">
                  <h3 class="mat-h3 margin-0">Технічні властивості (зображення) колекції</h3>
                </div>
                 <div formArrayName="techAssets" class="cell" fxFlex="25" fxFlex.lt-md="50"
                     *ngFor="let asset of productForm.get('techAssets')['controls']; let i = index">
                  <div *ngIf="productForm.get('techAssets').value[i]" class="preview-img-wrapper">
                    <img src="{{config.imgPath + config.cloudinary.cloud_name + '/c_fill,h_180,w_180,f_auto/' + productForm.get('techAssets').value[i]}}"
                         alt="productImage">
                    <div *ngIf="processingLoadTechAssets === i" class="preview-div-processing">
                      <div class="spinner-wrapper">
                        <mat-spinner [diameter]="24"></mat-spinner>
                      </div>
                    </div>
                  </div>

                  <p *ngIf="processingLoadTechAssets !== i" class="remove-field text-center"
                     (click)="removeTechAssetsControl(i)">
                    Видалити зображення</p>
                </div>

                <div class="cell" fxFlex="25" fxFlex.lt-md="50"
                     *ngIf="productForm.get('techAssets').value.length < 5">
                  <div class="preview-img-wrapper">
                    <img src="{{
                        config.imgPath +
                        config.cloudinary.cloud_name +
                        '/c_fill,w_180,h_180,f_auto/' +
                        config.defaultProductImg}}" alt="product">
                    <input #inputFile type="file" (change)="addTechAssets($event)"
                           accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">

                    <div class="preview-div-processing">
                      <div class="button-wrapper">
                        <button mat-mini-fab color="primary" type="button"
                                (click)="inputFile.click();"
                                [disabled]="processingLoadTechAssets >= 0">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="submit-button-wrapper row" fxLayout="row">
                <div class="cell" fxFlex="65">

                  <button *ngIf="editMode" mat-raised-button color="primary" class="full-width"
                          [disabled]="!productForm.valid || processingLoadAssets >=0 || processingLoadTechAssets >= 0 || processingLoadImage">
                    Зберегти</button>
                  <button *ngIf="!editMode" mat-raised-button color="primary" class="full-width"
                          [disabled]="!productForm.valid || processingLoadAssets >=0 || processingLoadTechAssets >= 0 || processingLoadImage">
                    Створити</button>
                </div>

                <div class="cell" fxFlex="35">
                  <button mat-raised-button  type="button" (click)="goBack()" class="full-width"
                          [disabled]="processingLoadAssets >=0 || processingLoadTechAssets >= 0
                          || processingLoadTechAssets >= 0 || processingLoadImage">Повернутись</button>
                </div>

              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  <!--</div>-->
</div>