<div class="row" fxLayout="row">
  <div class="cell" fxFlex="100">
    <div class="item full-width-container">
      <mat-card  class="form-block">
        <mat-card-header></mat-card-header>
        <mat-card-title>
          <h2 *ngIf="editMode" class="mat-h2">Редагувати колекцію {{productForm.get('name').value}}</h2>
          <h2 *ngIf="!editMode" class="mat-h2">Редагувати колекцію {{productForm.get('name').value}}</h2>
        </mat-card-title>

        <mat-card-content>
          <div class="container">
            <div class="row">
              <div class="cell">
                <p>{{parentCategory_id}} - {{parentCategoryName}}</p>
              </div>
            </div>

            <form [formGroup]="productForm" #f="ngForm" (submit)="onProductFormSubmit()" novalidate>



              <div class="row" fxLayout="column" fxLayout.gt-xs="row">
                    <div class="cell" fxFlex="33">
                      <mat-form-field>
                        <input matInput placeholder="Ідентифікатор" formControlName="_id" required>
                        <mat-error
                          *ngIf="(productForm.get('_id').errors?.minlength ||
                                  productForm.get('_id').errors?.maxlength ||
                                  productForm.get('_id').errors?.required) &&
                                  productForm.get('_id').touched">
                          Довжина повинна бути від 3 до 25 символів
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="cell" fxFlex="33">
                      <mat-form-field>
                        <input matInput placeholder="Назва" formControlName="name" required>
                        <mat-error
                          *ngIf="(productForm.get('name').errors?.minlength ||
                                  productForm.get('name').errors?.maxlength ||
                                  productForm.get('name').errors?.required) &&
                                  productForm.get('name').touched">
                          Довжина повинна бути від 3 до 50 символів
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="cell" fxFlex="33">
                      <mat-form-field>
                        <mat-select placeholder="Публікувати" formControlName="display" required>
                          <mat-option [value]="true">
                            Так
                          </mat-option>
                          <mat-option [value]="false">
                            Ні
                          </mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="productForm.get('display').errors?.required &&
                                  productForm.get('display').touched">
                          Обов'язкове поле
                        </mat-error>
                      </mat-form-field>
                    </div>



                <div class="cell" fxFlex="33">
                  <mat-form-field>
                    <input matInput placeholder="Порядок" formControlName="order" required>
                    <mat-error
                      *ngIf="productForm.get('order').errors?.required &&
                                  productForm.get('order').touched">
                      Обов'язкове поле
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="cell" fxFlex="33">
                  <mat-form-field>
                    <input matInput placeholder="Опис" formControlName="description" required>
                    <mat-error
                      *ngIf="(productForm.get('description').errors?.minlength ||
                                  productForm.get('description').errors?.maxlength ||
                                  productForm.get('description').errors?.required) &&
                                  productForm.get('description').touched">
                      Довжина повинна бути від 3 до 500 символів
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

                <div class="row" fxLayout="row" fxFlex="100">
                  <div class="cell">
                    <h3 class="mat-h3">Головні зображення колекції</h3>
                  </div>
                </div>
                <div class="row" fxLayout="row" fxFlex="100">
                  <div formArrayName="assets" class="cell" fxFlex="25" fxFlex.lt-md="50"
                       *ngFor="let asset of productForm.get('assets')['controls']; let i = index">
                    <div *ngIf="productForm.get('assets').value[i]" class="preview-img-wrapper">
                      <img src="{{config.imgPath + config.cloudinary.cloud_name + '/c_fill,h_180,w_180/' + productForm.get('assets').value[i] + '.jpg'}}"
                           alt="productImage">
                      <div *ngIf="processingLoadAssets === i" class="preview-div-processing">
                        <div class="spinner-wrapper">
                          <mat-spinner [diameter]="24"></mat-spinner>
                        </div>
                      </div>
                    </div>

                    <p *ngIf="processingLoadAssets !== i" class="remove-field text-center"
                       (click)="removeAssetsControl(i)">
                      Видалити зображення</p>
                  </div>

                  <div class="cell" fxFlex="25" fxFlex.lt-md="50"
                       *ngIf="productForm.get('assets').value.length < 4">
                    <div class="preview-img-wrapper">
                      <img src="{{config.defaultProductImgPath}}" alt="productImage">
                      <input #inputFile type="file" (change)="addAssets($event)"
                             accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">

                      <div class="preview-div-processing">
                        <div class="button-wrapper">
                          <button mat-mini-fab color="primary" type="button"
                                  (click)="inputFile.click();"
                                  [disabled]="processingLoadAssets >= 0">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                           
              <div class="row" fxLayout="row" fxFlex="100">
                <div class="cell">
                  <h3 class="mat-h3">Технічні властивості (зображення) колекції</h3>
                </div>
              </div>
              <div class="row" fxLayout="row" fxFlex="100">
                <div formArrayName="techAssets" class="cell" fxFlex="25" fxFlex.lt-md="50"
                     *ngFor="let asset of productForm.get('techAssets')['controls']; let i = index">
                  <div *ngIf="productForm.get('techAssets').value[i]" class="preview-img-wrapper">
                    <img src="{{config.imgPath + config.cloudinary.cloud_name + '/c_fill,h_180,w_180/' + productForm.get('techAssets').value[i] + '.jpg'}}"
                         alt="productImage">
                    <div *ngIf="processingLoadTechAssets === i" class="preview-div-processing">
                      <div class="spinner-wrapper">
                        <mat-spinner [diameter]="24"></mat-spinner>
                      </div>
                    </div>
                  </div>

                  <p *ngIf="processingLoadTechAssets !== i" class="remove-field text-center"
                     (click)="removeTechAssetsControl(i)">
                    Видалити зображення</p>
                </div>

                <div class="cell" fxFlex="25" fxFlex.lt-md="50"
                     *ngIf="productForm.get('techAssets').value.length < 4">
                  <div class="preview-img-wrapper">
                    <img src="{{config.defaultProductImgPath}}" alt="productImage">
                    <input #inputFile type="file" (change)="addTechAssets($event)"
                           accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png" style="display:none;">

                    <div class="preview-div-processing">
                      <div class="button-wrapper">
                        <button mat-mini-fab color="primary" type="button"
                                (click)="inputFile.click();"
                                [disabled]="processingLoadFile >= 0">
                          <mat-icon>add</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="submit-button-wrapper row" fxLayout="row">
                <div>
                  <button *ngIf="editMode" mat-raised-button color="primary" class="full-width"
                          [disabled]="!productForm.valid || processingLoadFile >=0">Зберегти</button>
                  <button *ngIf="!editMode" mat-raised-button color="primary" class="full-width"
                          [disabled]="!productForm.valid || processingLoadFile >=0">Створити</button>
                </div>

                <div fxFlex></div>
                <div>
                  <button mat-raised-button  type="button" (click)="goBack()" class="full-width"
                          [disabled]="processingLoadFile >=0 ">Повернутись</button>
                </div>

              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>