<!--<div class="row">-->
  <!--<div class="cell">-->
    <!--<mat-card>-->
      <!--<mat-card-header>-->
        <!--category_id {{category_id}}-->
      <!--</mat-card-header>-->
      <!--product {{product | json}}-->


      <!--<mat-card-content>-->


      <!--</mat-card-content>-->
      <!--<mat-card-actions>-->
      <!--</mat-card-actions>-->
    <!--</mat-card>-->
  <!--</div>-->
<!--</div>-->
<div class="row flex" fxLayout="column" fxLayout.gt-xs="row">

  <div class="cell" fxFlex.gt-xs="200px">
    <app-products-detail-side [siblings]="siblings" [category_id]="category_id"></app-products-detail-side>
  </div>
  <div class="cell" fxFlex.gt-xs="100%-200px">
    <app-products-detail-main [product]="product" [category_id]="category_id"></app-products-detail-main>
  </div>
</div>

<!--<div class="row flex" fxLayout="column" fxLayout.gt-xs="row">-->

  <!--<div class="cell product-detail-side">-->
    <!--<app-products-detail-side [siblings]="siblings" [category_id]="category_id"></app-products-detail-side>-->
  <!--</div>-->
  <!--<div class="cell product-detail-main">-->
    <!--<app-products-detail-main [product]="product" [category_id]="category_id"></app-products-detail-main>-->
  <!--</div>-->
<!--</div>-->