<div class="app-container">
  <div class="container">
    <div class="row" fxLayout="column" fxLayout.gt-xs="row">
      <div class="cell" fxFlex="100">
        <mat-card>
                    <!-- <img src="./assets/images/trice_logo_full.svg" alt="logo" class="contacts-logo-trice"> -->
          <h1 class="mat-display-2">Контакти

          </h1>
          <mat-card-content>
            <div class="row" fxLayout="row">
              <div class="cell" fxFlex.xs="100">
                  <h2 class="mat-h2">ТзОВ "Трайс"</h2>
              </div>
            </div>

            <div class="row" fxLayout="row">
              <div class="cell" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3">
                <mat-card>
                  <mat-card-content>
                      <h3 class="mat-h2 text-align-center">Головний офіс</h3>
                      <p class="text-justify muted">
                        Адреса: м. Дніпро, вул. Булата, 12
                      </p>
                      <p class="text-justify muted">
                        <a mat-button class="muted"
                          href="tel:+380567339675">
                          <mat-icon>phone</mat-icon> тел/факс 056 733 96 75
                        </a>
                      </p>
                      <p class="text-justify muted">
                        <a mat-button class="muted"
                          href="tel:+380956535511">
                          <mat-icon>phone</mat-icon> vodafone 095 653 55 11
                        </a>
                      </p>
                      <p class="text-justify muted">
                        <a mat-button class="muted"
                          href="tel:+380677029230">
                          <mat-icon>phone</mat-icon> kyivstar 067 702 92 30
                        </a>
                      </p>
                      <p class="text-justify muted">
                        <a mat-button class="muted"
                          href="mailto: trice.pvc@gmail.com">
                          <mat-icon>mail</mat-icon> trice.pvc@gmail.com
                        </a>
                      </p>
                  </mat-card-content>
                </mat-card>
                
              </div>
              <div class="cell" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3">
                  <mat-card>
                      <mat-card-content>
                          <h3 class="mat-h2 text-align-center">Західний регіон</h3>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="tel:+380985443968">
                              <mat-icon>phone</mat-icon> 098 544 39 68
                            </a>
                          </p>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="mailto: linoleum.ua@gmail.com">
                              <mat-icon>mail</mat-icon> linoleum.ua@gmail.com
                            </a>
                          </p>
                      </mat-card-content>
                  </mat-card>

              </div>
              <div class="cell" fxFlex.xs="100" fxFlex.sm="50" fxFlex.gt-sm="33.3">
                  <mat-card>
                      <mat-card-content>
                          <h3 class="mat-h2 text-align-center">м. Київ</h3>
                          <h3 class="mat-h3">ТОВ "Віваді"</h3>
                          <p class="text-justify muted">
                            Адреса: м.Київ, пр. Соборності, 19/офіс 205
                          </p>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="tel:+380443929290">
                              <mat-icon>phone</mat-icon> тел/факс 044 392 92 90
                            </a>
                          </p>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="tel:+380672081302">
                              <mat-icon>phone</mat-icon> 067 208 13 02
                            </a>
                          </p>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="tel:+380672080606">
                              <mat-icon>phone</mat-icon> 067 208 06 06
                            </a>
                          </p>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="tel:+3805086521236">
                              <mat-icon>phone</mat-icon> 050 865 21 23
                            </a>
                          </p>
                          <p class="text-justify muted">
                            <a mat-button class="muted"
                              href="www.vivadi.com.ua" target="_blank">
                              <mat-icon>screen_share</mat-icon> www.vivadi.com.ua
                            </a>
                          </p>
                      </mat-card-content>
                  </mat-card>
                </div>
            </div>

            <div class="row" fxLayout="row">
                <div class="cell" fxFlex.xs="100">
                  <a href="https://graboplast.com" target="_blank">
                    <img class="contacts-logo-grabo" src="./assets/images/graboplast_logo.svg" alt="logo"></a>
                  <div>
                    <a mat-button href="https://graboplast.com" target="_blank">Перейти на сайт виробника</a>
  
                  </div>
                </div>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>