<div class="app-container">
  <div class="container">


    <div class="row" fxLayout="column" fxLayout.gt-xs="row">

      <div class="cell" fxFlex="100">
        <mat-card>
          <h1 class="mat-display-2">Контакти</h1>

          <mat-card-content>
            <div class="row" fxLayout="column" fxLayout.gt-xs="row">



            <div class="cell" fxFlex.xs="100" fxFlex.gt-xs="60">

                <img src="./assets/images/trice_logo_full.svg" alt="logo" class="contacts-logo-trice">

              <p class="text-justify muted">
                Адреса: м. Дніпро, вул. Булата, 12
              </p>
              <p class="text-justify muted">
                <a mat-button class="muted"
                   href="tel:+380563738173">
                  <mat-icon>phone</mat-icon> 056 373 81 73
                </a>
              </p>
              <p class="text-justify muted">
                <a mat-button class="muted"
                   href="tel:+380563738173">
                  <mat-icon>phone</mat-icon> 056 373 81 73
                </a>
              </p>
            </div>

              <div class="cell" fxFlex.xs="100" fxFlex.gt-xs="40">
                <a href="https://graboplast.com" target="_blank">
                  <img class="contacts-logo-grabo" src="./assets/images/graboplast_logo.svg" alt="logo"></a>
                <div>
                  <a mat-button href="https://graboplast.com" target="_blank">Перейти на сайт виробника</a>

                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

      </div>


    </div>

    <!--<div class="row" fxLayout="column" fxLayout.gt-xs="row">-->

      <!--<div class="cell" fxFlex.xs="100" fxFlex.gt.xs="100">-->
        <!--<mat-card>-->
          <!--<mat-card-header>-->
            <!--<h2 class="mat-h2">Стати дилером</h2>-->

          <!--</mat-card-header>-->
          <!--<mat-card-content>-->
            <!--<p class="text-justify muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod-->
              <!--tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation-->
              <!--ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in-->
              <!--voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat-->
              <!--non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
          <!--</mat-card-content>-->
        <!--</mat-card>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>