<div *ngIf="category?.description" class="row" fxLayout="row">
  <div class="cell" fxFlex="100">

    <mat-card>
      <mat-card-content>
        <div class="text-justify">
          <p class="mat-h3" *ngFor="let p of category.description.p">
           {{p}}
          </p>
          <div class="category-description-block">
            <mat-list>
              <mat-list-item *ngFor="let li of category.description.li">
                <mat-icon matListIcon>arrow_right</mat-icon>
                <p>
                 {{li}}
                </p>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row" fxLayout="row" >
  <div *ngFor="let product of products"  class="cell"
       fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
    <app-product-item-brief [product]="product" [category_id]="category_id"></app-product-item-brief>
  </div>
  <div *ngFor="let descendant of descendants" class="cell"
       fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25">
    <app-product-item-brief  [descendant]="descendant"></app-product-item-brief>
  </div>
</div>
